.header__container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vw;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25%;
  color: var(--body-white);
}

.header-film-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0.05;
  background-image: url('/effectold.gif');
}
.header__logo {
  position: absolute;
  left: 3vw;
  font-size: 1.3vw;
  font-family: 'Bodoni Moda', serif !important;
  letter-spacing: 1.2vw;
  font-weight: 400;
  color: var(--body-white);
  z-index: 12;
}

.headerMenu__icon {
  position: fixed;
  margin-top: -0.5vw;
  width: 2vw;
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
  cursor: pointer;
  z-index: 20;
  background-color: transparent;
}

.headerMenu__icon span {
  width: 100%;
  height: 0.1vw;
  background-color: var(--text-color-white);
  transition: 0.5s;
}

.headerMenu__close {
  position: fixed;
  z-index: 12;
  background-color: transparent;
}

.header__connect {
  position: absolute;
  right: 3vw;
  font-size: 1vw;
  font-family: 'Manrope', sans-seri;
  letter-spacing: 0.1vw;
  font-weight: 100;
  z-index: 12;
  color: var(--text-color-white);
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 5vw;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 14, 14);
  z-index: 10;
  transform: translateY(-100%);
  transition: 2s;
  animation: menu 2s forwards;
}

@keyframes menu {
  0% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.header__menu--active {
  transform: translateY(0);
  transition: 2s;
  animation: menu--active 2s forwards;
}

@keyframes menu--active {
  0% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.header__menu div {
  position: static;
  width: 100%;
  height: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  border-bottom: solid 0.05vw var(--text-color-white);

  transition: 0.8s;
}
.header__menu div:hover {
  background-color: var(--text-color-gold);
  transition: 0.8s;
}
.header__menu a {
  font-size: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  color: var(--body-white);
  cursor: pointer;
  padding-left: 6vw;
}
.header__menu i {
  position: relative;
  right: auto;
  margin-top: 0.5vw;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  border: 0.1vw solid var(--text-color-white);
  font-size: 3vw;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.bx-chevron-right--visible {
  opacity: 1 !important;
  transition: 0.5s;
}

.header__menu-correo {
  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  font-family: 'Manrope', sans-seri;
  letter-spacing: 0.3vw;
  margin-left: -4vw;
  z-index: 12;
}

.header__menu-buttons {
  position: relative;
  top: 2.5vw !important;
  width: 10vw !important;
  left: auto !important;
  right: 1vw !important;
}
.header__menu-buttons button {
  font-size: 1.2vw !important;
}

@media (max-width: 800px) {
  .header__container {
    height: 15vw;
    gap: 10%;
  }
  .header__logo {
    font-size: 3.5vw;
  }
  .header__connect {
    font-size: 3.5vw;
    text-align: center;
  }
  .menu__icon {
    width: 5vw;
    gap: 0.6vw;
  }
  .menu__icon span {
    height: 0.5vw;
  }
  .menu__close {
    font-size: 5vw;
  }
  .header__menu-correo {
    font-size: 4vw;
  }
  .header__menu-buttons {
    bottom: 1vw !important;
    left: 35% !important;
  }
}
