.films__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(31, 22, 13),
    rgb(42, 32, 26),
    rgb(19, 17, 14)
  );
  overflow: hidden;
}

.films__section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.films__link {
  position: absolute;
  left: 2vw;
  color: aliceblue;
  font-size: 2vw;
  z-index: 10;
}

.films__lin-right {
  left: auto;
  right: 2vw;
}

.films__link i {
  font-size: 5vw;
  cursor: pointer;
}
.films__section img {
  height: 100%;
  filter: brightness(0.8);
}
.films__section h1 {
  position: absolute;
  color: var(--body-white);
  font-size: 8vw;
  font-weight: 400;
  letter-spacing: 0.5vw;
  animation: slideIn 1.5s forwards;
}

/* films__sectionTwo */

.films__sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12vw;
  padding-top: 12vw;
  padding-bottom: 7vw;
}

.films__sectionTwo ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12vw;
}

.films__sectionTwo li {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2vw;
  opacity: 0;
  transform: translateY(50%);
}

.films__sectionTwo h2 {
  color: rgb(215, 178, 143);
  font-size: 5vw;
  font-weight: 400;
}

.films__sectionTwo p {
  color: var(--body-white);
  font-size: 1.7vw;
  font-family: 'Manrope', sans-seri;
}

.films__sectionTwo h4 {
  width: 65%;
  color: rgb(215, 178, 143);
  font-size: 2.5vw;
  font-weight: 400;
  text-align: center;
  padding-bottom: 12vw;
  opacity: 0;
  transform: translateY(50%);
}

@media (max-width: 660px) {
  .films__section h1 {
    font-size: 15vw;
  }
  .films__sectionTwo {
    gap: 20vw;
  }
  .films__sectionTwo ul {
    gap: 20vw;
  }
  .films__sectionTwo li {
    width: 85%;
  }
  .films__sectionTwo h2 {
    font-size: 10vw;
  }
  .films__sectionTwo p {
    font-size: 3.5vw;
  }
  .films__sectionTwo h4 {
    font-size: 3.8vw;
  }
}
