.info__container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.info__container a {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 6;
  transition: 0.5s all;
}
.info__container a:hover {
  filter: brightness(1.5);
  transition: 0.5s all;
}
.info__container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.05;
  background-image: url('/effectold.gif');
}

.info__container img {
  filter: brightness(0.8);
  height: 100%;
  transition: 2.5s;
  animation: slideIn 0.5s forwards;
}

.info__container h2 {
  position: absolute;
  margin-top: -15vw;
  color: rgb(215, 178, 143);
  font-size: 8vw;
  font-weight: 400;
  animation: slideIn 1s forwards;
}
.info__container p {
  width: 70%;
  position: absolute;
  color: var(--body-white);
  font-size: 1.2vw;
  font-family: 'Manrope', sans-seri;
  text-align: center;
  margin-top: 0vw;
  animation: slideIn 1.5s forwards;
}

.info__nav {
  position: absolute;
  bottom: 2vw;
  padding-left: 1vw;
  z-index: 6;
}
.info__nav a {
  overflow: unset;
}
.info__nav i {
  font-size: 2.5vw;
}
@media (max-width: 660px) {
  .info__container {
    flex-direction: column;
  }
  .info__container a {
    position: relative;
    width: 100%;
    height: 50vh;
    flex-direction: column;
  }
  .info__container h2 {
    font-size: 20vw;
    position: relative;
  }
  .info__container p {
    width: 80%;
    position: relative;
    font-size: 4vw;
  }
  .info__container img {
    position: absolute;
  }
  .info__nav {
    display: none;
  }
}
