.film-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.05;
  background-image: url('/effectold.gif');
}

.custom-cursor {
  position: fixed;
  width: 1vw;
  height: 1vw;
  margin: -0.5vw 0 0 -0.5vw;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none; /* Evita que el cursor afecte a los elementos bajo él */
}

/* clicktop__container */
.clicktop__container {
  position: relative;
  width: 100%;
  height: 13vh;
  display: flex;
  font-family: 'Manrope', sans-seri;
  justify-content: center;
  padding: 0 4svw 2vw 4vw;
  z-index: 10;
  align-items: center;
}

.clicktop__nav {
  display: flex;
  gap: 3vw;
}

.clicktop__nav a {
  color: var(--body-white);
  font-size: 1vw;
  letter-spacing: 0.2vw;
  z-index: 10;
  cursor: pointer;
}

.arrow__top {
  position: absolute;
  z-index: 5;
  top: 10%;
  right: 5%;
  width: 1.5vw;
  color: var(--text-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  font-weight: 100;
  cursor: pointer;
  animation: clicktop 2s infinite;
}

@keyframes clicktop {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(24, 24, 24);
  top: 0;
  left: 0;
  transition: 1.5s;
  z-index: 10;
  overflow: hidden;
}
.loading__img {
  position: relative;
  width: 100%;
  height: 100%;
  filter: brightness(0.85);
  animation: loadingImgs 3.15s forwards;
}

@keyframes loadingImgs {
  0% {
    transform: translateY(150%);
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.viewAnimation {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: 1.5s;
  z-index: 6;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 660px) {
  .custom-cursor {
    display: none;
  }
  .clicktop__container {
    height: 8vh;
  }
  .clicktop__nav a {
    font-size: 3.5vw;
  }
  .clicktop__nav i {
    display: none;
  }
  .arrow__top {
    font-size: 7vw;
  }
}
